<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>days</title>

    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

  <div class="links " >
    
    <div class="col-sm">
      <h3>Labels</h3>
      <h4><a href="/"> Today </a></h4>
      <h4><a href="/work"> Work </a></h4>
      <h4><a href="/home"> Home </a></h4>
      <h4><a href="/school"> School </a></h4>
    </div>
  </div>
