<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>days</title>
  </head>
  <body>

    <h1 style = "color:green"> It's a <%= thisDay %> !! </h1>

  </body>
</html>
